html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#gallery-controller {
    clear: both;
    font-size: 16px;
    padding: 10px;
}

#gallery-controller li {
        display: inline;
}